#!/bin/zsh

# editor stuff
alias v=nvim
alias vi=nvim
alias vim=nvim

# git
alias gtree="git log --graph --pretty=oneline --abbrev-commit"
alias untracked="git ls-files --others --exclude-standard"
alias push="git push"

# more ways to ls
alias ls="lsd"
alias l="ls -CF"
alias la="ls -1a"
alias ll="ls -AlF"
alias ldot="ls -ld .*"

# fix common typos
alias cd..="cd .."
alias ..="cd .."

# tar
alias tarls="tar -tvf"
alias untar="tar -xf"

# better defaults or sth ig
alias mc="mc --nosubshell"

# generators
alias uuid="uuidgen | tr '[:upper:]' '[:lower:]'"
alias genpass="openssl rand -base64"
alias datever="date +%Y.%m.%d.%H%M"

# docker
alias docker-murder='docker rm "$(docker ps -a -q)"'

# misc
alias craft="codecrafters"

function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}

function clean_branches() {
    echo "Fetching and pruning..."
    git fetch -p

    local gone_branches
    gone_branches=$(git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | \
                    awk '$2 == "[gone]" {sub("refs/heads/", "", $1); print $1}')

    if [[ -z "$gone_branches" ]]; then
        echo "Check complete. No orphaned branches found."
        return 0
    fi

    echo "The following local branches are [gone] on remote:"
    echo "$gone_branches"
    echo -n "Do you want to delete these branches? (y/n): "
    read -k 1 reply
    echo 

    if [[ "$reply" =~ ^[Yy]$ ]]; then
        for branch in ${(f)gone_branches}; do
            git branch -D "$branch"
        done
        echo "Cleanup complete."
    else
        echo "Cleanup aborted."
    fi
}

function codesearch() {
  local target_dir="${1:-$HOME/Developer}"

  fzf --ansi --disabled \
      --header "Searching in: $target_dir" \
      --bind "start:reload:rg --line-number --no-heading --color=always --smart-case '' '$target_dir'" \
      --bind "change:reload:rg --line-number --no-heading --color=always --smart-case {q} '$target_dir'" \
      --delimiter : \
      --preview 'bat --style=numbers --color=always --highlight-line {2} {1}' \
      --preview-window 'up,60%,border-bottom,+{2}+3/3' \
      --bind "enter:become(nvim +{2} {1})"
}
